<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="giovani.androidmarketplace">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".visao.ListagemItemPedidoActivity"
            android:label="@string/title_activity_listagem_produto_pedido"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".visao.EdicaoPedidoActivity" />
        <activity
            android:name=".visao.ListagemPedidosActivity"
            android:label="@string/title_activity_listagem_pedidos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".visao.PrincipalActivity" />
        <activity android:name=".visao.EdicaoProdutoActivity" />
        <activity
            android:name=".visao.ListagemProdutosActivity"
            android:label="@string/title_activity_listagem_produtos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".visao.CriarContaActivity" />
        <activity android:name=".visao.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>